PyPDF2
PyMuPDF
python-dotenv
openai
certifi
beautifulsoup4
lxml
webdriver-manager
pandas
openpyxl
aiohttp
semantic-chunkers
tqdm
tiktoken
num2words
fuzzywuzzy
python-Levenshtein
fastapi
uvicorn
motor
nltk
aiosmtplib
email-validator
pydantic
pymongo

