PyPDF2
PyMuPDF
python-dotenv
openai
chromadb
google-api-python-client
certifi
beautifulsoup4
lxml
webdriver-manager
pandas
openpyxl
aiohttp
pymongo
semantic-chunkers
tqdm
langchain-community
tiktoken
langchain-openai
langchainhub
chromadb
langchain
langgraph
langchain-text-splitters
python-dotenv
num2words