PyPDF2
PyMuPDF
python-dotenv
openai
certifi
beautifulsoup4
lxml
webdriver-manager
pandas
openpyxl
aiohttp
pymongo
semantic-chunkers
tqdm
tiktoken
chromadb
langchain-text-splitters
python-dotenv
num2words
pymongo
fuzzywuzzy
python-Levenshtein
fastapi
motor
uvicorn
nltk
sentence_transformers